.text-editor {
  border-radius: 4px;
  background: rgba(29, 131, 214, 0.404);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 16px, rgba(0, 0, 0, 0.15) 0px 1px 4px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-editor-content {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.editor {
  width: 400px;
  height: 300px;
}